.igGrid {
    // --ion-grid-width-xs: 100%;
    // --ion-grid-width-sm: 540px;
    // --ion-grid-width-md: 720px;
    // --ion-grid-width-lg: 960px;
    // --ion-grid-width-xl: 1140px;

    --ion-grid-width-xs: 100%;
    --ion-grid-width-sm: 480px;
    --ion-grid-width-md: 480px;
    --ion-grid-width-lg: 480px;
    --ion-grid-width-xl: 480px;
}
