
.Selected {
    color: #921d32;
    border-bottom: 1px solid #921d32;
}

.DeSelected {
    color: #921d32;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    padding: 0;

}

.buttonGroup {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cardGroup {
    margin-inline: auto;
}

ion-title {
    color:#921d32;
}

.itemName {
    text-align: center;
}

.userDetails {
    text-align: center;
}