@import url('../navbar/index.css');


/* body {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-family: 'Titillium Web';
    background-color: #cbd2e0;
} */